* {
	font-family: 'Syne Mono', sans-serif;
	font-weight: normal;
}

.nav__responsive-ul {
	display: none;
}

.nav {
	background-color: darkslateblue;
}

.nav__li {
	display: inline-block;
	padding: 12px;
	color: #fff;
}

.nav__li:hover > a {
	color: #bbb;
}

.nav__li:hover {
	color: #bbb;
}


.nav__li a {
	color: #fff;
	text-decoration: none;

}

.nav__li i { 
	box-sizing: border-box;
	text-align: right;
	margin-left: 5px;
}

@media only screen and (max-width: 500px) {

	.nav__ul {
		display: none;
	}

	.nav__responsive-ul {
		display: block;
	}

}